<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fis.portal.mapper.MenuMapper">

    <select id="search" parameterType="com.fis.portal.model.Menu" resultType="com.fis.portal.model.Menu">
        SELECT * FROM portal_menu
        <where>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <!-- Add other search criteria here -->
        </where>
    </select>

    <select id="count" parameterType="com.fis.portal.model.Menu" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM portal_menu
        <where>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <!-- Add other count criteria here -->
        </where>
    </select>

    <insert id="create" parameterType="com.fis.portal.model.Menu">
        INSERT INTO portal_menu (
            code, 
            name, 
            name_en,
            icon,
            path,
            status,
            created_date, 
            created_by
        ) VALUES (
            #{code}, 
            #{name}, 
            #{nameEn},
            #{icon},
            #{path},
            #{status},
            NOW(), 
            #{createdBy}
        )
    </insert>

    <update id="update" parameterType="com.fis.portal.model.Menu">
        UPDATE portal_menu
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="nameEn != null">name_en = #{nameEn},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="path!= null">path = #{path},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updatedDate != null">updated_date = #{updatedDate},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
        </set>
        WHERE code = #{code}
    </update>

    <select id="findByCode" parameterType="java.lang.String" resultType="com.fis.portal.model.Menu">
        SELECT * FROM portal_menu WHERE code = #{code}
    </select>

    <select id="findPathByRoleCode" parameterType="java.lang.String" resultType="com.fis.portal.model.Menu">
        SELECT m.* FROM portal_menu m
                            INNER JOIN portal_menu_role mr ON mr.menu_code = m.code
        WHERE mr.role_code = #{roleCode}
    </select>

</mapper>
